@import "tailwindcss";

@theme {
    --color-bg-primary: #ffffff;
    --color-bg-secondary: #f0f0f0;
    --color-bg-tertiary: #e0e0e0;

    --color-text-primary: #000000;
    --color-text-secondary: #333333;
    --color-text-tertiary: #666666;

    --color-text-white: #ffffff;

    --color-brand-primary: #03ad03;
    --color-brand-secondary: #028f02;
}
